name: DevSecOps CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: '17'

    - name: Build
      run: mvn clean install

    - name: OWASP Scan
      run: mvn org.owasp:dependency-check-maven:check
